#berita{

	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 35px;

}

 .glyphicon{
	padding-top: 10px;
}
.register{
	padding-top: 10px;
}

body{
	background-color: #f7f7f7;
}

.style-combobox{
	margin-top: 25px;
}

.form{

	
}

#login{
	
margin-top: 100px;
	margin-bottom: auto;

}

/*bootsnip content vote*/

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}

/*end bootsnip content vote*/




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    /*z-index: 0;*/
    width:2000px;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}